[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
	ignore = dirty
[submodule "content/post/git"]
	path = content/post/git
	url = git@github.com:fujiawei-dev/git-notes.git
[submodule "content/post/tools"]
	path = content/post/tools
	url = git@github.com:fujiawei-dev/tools-notes.git
