[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
	ignore = dirty
[submodule "content/post/git"]
	path = content/post/git
	url = git@github.com:fujiawei-dev/git-notes.git
[submodule "content/post/tools"]
	path = content/post/tools
	url = git@github.com:fujiawei-dev/tools-notes.git
[submodule "content/post/linux"]
	path = content/post/linux
	url = git@github.com:studying-notes/linux-notes.git
[submodule "content/post/docker"]
	path = content/post/docker
	url = git@github.com:studying-notes/docker-notes.git
[submodule "content/post/python"]
	path = content/post/python
	url = git@github.com:studying-notes/python-notes.git
[submodule "content/post/raspberrypi"]
	path = content/post/raspberrypi
	url = git@github.com:studying-notes/raspberrypi-note.git
[submodule "content/post/windows"]
	path = content/post/windows
	url = git@github.com:studying-notes/windows-notes.git
[submodule "content/post/ps"]
	path = content/post/ps
	url = git@github.com:studying-notes/ps-notes.git
[submodule "content/post/k8s"]
	path = content/post/k8s
	url = git@github.com:fujiawei-dev/k8s-notes.git
[submodule "content/post/go"]
	path = content/post/go
	url = git@github.com:studying-notes/go-notes.git
[submodule "content/post/cpp"]
	path = content/post/cpp
	url = git@github.com:studying-notes/cpp-notes.git
[submodule "content/post/kotlin"]
	path = content/post/kotlin
	url = git@github.com:studying-notes/kotlin-notes.git
[submodule "content/post/qt5"]
	path = content/post/qt5
	url = git@github.com:studying-notes/qt5-notes.git
[submodule "content/post/mysql"]
	path = content/post/mysql
	url = git@github.com:studying-notes/mysql-notes.git
[submodule ".github"]
	path = .github
	url = git@github.com:studying-notes/.github.git
[submodule "content/post/redis"]
	path = content/post/redis
	url = git@github.com:studying-notes/redis-notes.git
[submodule "content/post/aws"]
	path = content/post/aws
	url = git@github.com:studying-notes/aws-notes.git
