{{ define "main" }}

<div class="posts">
  {{ range .Pages }}
  <div class="post on-list">

    <!-- 标题 -->
    <h3 class="posts__post-title">
      <a href="{{ .Permalink }}">{{ .Title | markdownify }}

        <!-- 计算修改时间 -->
        <span class="posts__updated-date">
          {{ $ageDays := div (sub now.Unix .Lastmod.Unix) 86400 }}
          {{ $ageMonths := div (sub now.Unix .Lastmod.Unix) 2592000 }}
          {{ if eq $ageDays 0 }}
          Updated today
          {{ else if lt $ageDays 31 }}
          Updated {{ $ageDays }} {{ cond (eq $ageDays 1) "day" "days"}} ago
          {{ else }}
          Updated {{ $ageMonths }} {{ cond (eq $ageMonths 1) "month" "months" }} ago
          {{ end }}
        </span>

      </a>
    </h3>

    <div class="posts__post-meta">

      <!-- 创建时间 -->
      <span class="posts__post-date">
        {{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}
      </span>

      <!-- 标签 -->
      {{ if .Params.tags }}
      <span class="posts__post-tags">
        {{ range .Params.tags }}
        <a href="{{ (urlize (printf "tags/%s" . )) | absURL }}/">#{{ . }}</a>&nbsp;
        {{ end }}
      </span>
      {{ end }}

      <!-- 系列 -->
      {{ if .Params.series }}
      <span class="posts__post-series">
        {{ range .Params.series }}
        <a href="{{ (urlize (printf "series/%s" . )) | absURL }}/">@{{ . }}</a>&nbsp;
        {{ end }}
      </span>
      {{ end }}

    </div>
  </div>
  {{ end }}
  {{ partial "pagination.html" . }}
</div>
{{ end }}