{{ define "main" }}

{{ $type := .Type }}

{{ if eq $type "tags" }}

<div class="terms">
  <ul class="terms__tags">
    <!-- 按数量排序，取前 N 个 -->
    {{ range first 40 .Data.Terms.ByCount }}
    {{ $name := .Name }}
    {{ $count := .Count }}
    {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
    <li class="terms_tag">
      <a target="_blank" href="{{ .Permalink }}">#{{ .Name }} <span class="terms__term-count">{{ $count }}</span></a>
    </li>
    {{ end }}
    {{ end }}
  </ul>
</div>
{{ end }}

{{ if eq $type "series" }}

<div class="terms">
  <ul class="terms__series">
    <!-- 按数量排序 -->
    {{ range first 25 .Data.Terms.ByCount }}
    {{ $name := .Name }}
    {{ $count := .Count }}
    {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
    <li class="terms__term">
      <a target="_blank" href="{{ .Permalink }}">@{{ .Name }} <span class="terms__term-count">{{ $count }}</span></a>
    </li>
    {{ end }}
    {{ end }}
  </ul>
</div>
{{ end }}

{{ end }}