{{- if and .Params.Live2D .Site.Params.Live2D | default true -}}
<script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget/autoload.js"></script>

<script>
    /* 设置看板娘样式 */
    localStorage.setItem("modelId", 5);
    localStorage.setItem("modelTexturesId", 0);
</script>

<style>
    #waifu {
        margin-bottom: 0 !important;
    }

    /*  隐藏设置和对话  */
    #waifu-tool {
        display: none;
    }

    #waifu-tips {
        display: none;
    }

    #waifu #live2d {
        height: 200px !important;
        width: 200px !important;
    }
</style>
{{- end -}}