<link rel="stylesheet" href="{{ "assets/css/fonts.css" | absURL }}" />
<link rel="stylesheet" href="{{ "assets/css/body.css" | absURL }}" />
<link rel="stylesheet" href="{{ "assets/css/archive.css" | absURL }}" />
<link rel="stylesheet" href="{{ "assets/css/controls.css" | absURL }}" />
<link rel="stylesheet" href="{{ "assets/css/posts.css" | absURL }}" />
<link rel="stylesheet" href="{{ "assets/css/terms.css" | absURL }}" />
<link rel="stylesheet" href="{{ "assets/css/search.css" | absURL }}" />
<link rel="stylesheet" href="{{ "assets/css/toc.css" | absURL }}" />
<link rel="stylesheet" href="{{ "assets/css/social.css" | absURL }}" />
<link rel="stylesheet" href="{{ "assets/css/header.css" | absURL }}" />

<script src="{{ "assets/js/controls.js" | absURL }}"></script>

{{ partial "live2d.html" . }}