<div class="post-toc" id="post-toc">
    <aside>
        <div class="post-toc-title"><strong>目录</strong></div>
        {{ $globalAutoCollapseToc := .Site.Params.autoCollapseToc | default true }}
        <div class="post-toc-content{{ if not (or .Params.autoCollapseToc (and $globalAutoCollapseToc (ne .Params.autoCollapseToc false))) }} always-active{{ end }}">
          {{.TableOfContents}}
        </div>
    </aside>
</div>

<script type="text/javascript">
    window.onload = function () {
      var fix = $('.post-toc');
      var end = $('.post-comment');
      var fixTop = fix.offset().top, fixHeight = fix.height();
      var endTop, miss;
      var offsetTop = fix[0].offsetTop;
      $(window).scroll(function () {
        var docTop = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        if (end.length > 0) {
          endTop = end.offset().top;
          miss = endTop - docTop - fixHeight;
        }
        if (fixTop < docTop) {
          fix.css({ 'position': 'fixed' });
          if ((end.length > 0) && (endTop < (docTop + fixHeight))) {
            fix.css({ top: miss });
          } else {
            fix.css({ top: 0 });
          }
        } else {
          fix.css({ 'position': 'absolute' });
          fix.css({ top: offsetTop });
        }
      })
    }
  </script> 