{{$URL := default (.Get 0) (.Get "src") }}

{{/*  这个东西的文件系统的路径，坑死我了  */}}
{{ with .Site.GetPage $URL }}

<div class="post-preview">
    <div class="post-preview--meta" style="width:100%;">
        <div class="post-preview--middle">

            <!-- 标题 -->
            <h4 class="post-preview--title">
                <a target="_blank" href="{{ .Permalink }}">{{ .Title }}</a>
            </h4>

            <!-- 时间 -->
            <time class="post-preview--date">{{ .Date.Format ( default "2006-01-02") }}</time>

            <!-- 标签 -->
            {{ if .Params.tags }}
            <small>{{ range .Params.tags }}#{{ . }}&nbsp;{{ end }}</small>
            {{ end }}

            <!-- 系列 -->
            {{ if .Params.Series }}
            <small>{{ range .Params.Series }}@{{ . }}&nbsp;{{ end }}</small>
            {{ end }}

        </div>
    </div>
</div>
{{ end }}